#numberinput {
      appearance: none; -moz-appearance: textfield; -webkit-appearance: none
}
#form-bg{
      background-image: url(https://i.ibb.co/VmSY24Q/image.png);
      background-size: 20rem;
      background-repeat: no-repeat;
      background-position: top;
}
