#slider1 {
      background-image:  linear-gradient(rgba(0, 0, 0, 0.692) , rgba(0, 0, 0, 0.692)),  url(https://i.ibb.co/6ryQL8Q/Leonardo-Phoenix-A-diverse-group-of-indian-people-brainstormin-1.jpg) ;
      
}
#slider2 {
      background-image:  linear-gradient(rgba(0, 0, 0, 0.692) , rgba(0, 0, 0, 0.692)),  url(https://i.ibb.co/ZBstFPw/Leonardo-Phoenix-A-clean-professional-image-of-a-person-sittin-3.jpg) ;
      
}
#slider3 {
      background-image:  linear-gradient(rgba(0, 0, 0, 0.692) , rgba(0, 0, 0, 0.692)),  url(https://i.ibb.co/rH8vcv1/image.png) ;
      background-position: center;
      
}